<!-- BEGIN CONTAINER -->
<div class="page-container">
{% include 'partials/sidebar.html' %}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" style="margin-top:40px;">
	<div class="page-content" data-ng-controller="dashboardController">
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN PAGE HEADER-->
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="#">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="#">Dashboard</a>
						</li>
					</ul>
					<div class="page-toolbar">
						<div id="dashboard-report-range" class="pull-right tooltips btn btn-sm btn-default" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
							<i class="icon-calendar"></i>&nbsp;
							<span class="thin uppercase visible-lg-inline-block"></span>&nbsp;
							<i class="fa fa-angle-down"></i>
						</div>
					</div>
				</div>
				<h3 class="page-title">
				Dashboard <small>dashboard & statistics</small>
				</h3>
			</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN DASHBOARD STATS -->
				<div dashboard-stat colour="red-intense" icon="fa-dashboard" description="Speed" value="120"></div>
				<div dashboard-stat colour="purple-plum" icon="fa-gear" description="Gear" value="55"></div>
				<div dashboard-stat colour="green-haze" icon="fa-signal" description="Battery" value="55"></div>
				<div dashboard-stat colour="blue-madison" icon="fa-road" description="Brake" value="55"></div>
				<!-- END DASHBOARD STATS -->		
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->