<!-- BEGIN CONTAINER -->
<div class="page-container">
{% include 'partials/sidebar.html' %}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" style="margin-top:40px;">
	<div class="page-content" data-ng-controller="dashboardController">
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Dashboard <small>live data feed</small>
				</h3>
			</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN DASHBOARD STATS -->
				<div dashboard-stat colour="red-intense" icon="fa-dashboard" description="Speed" value="data.speed"></div>
				<div dashboard-stat colour="purple-plum" icon="fa-gear" description="Gear" value="data.gear"></div>
				<div dashboard-stat colour="green-haze" icon="fa-road" description="Brake" value="data.brake"></div>
				<div dashboard-stat colour="blue-madison" icon="fa-signal" description="Throttle" value="data.throttle"></div>
				<!-- BEGIN TABS -->
				<div class="clearfix"></div>
				<div class="col-md-12">
					<div class="tabbable">
					  <ul class="nav nav-tabs" class="col-md-12">
					    <li class="active"><a href="#pane1" data-toggle="tab">Graph view</a></li>
					    <li><a href="#pane2" data-toggle="tab">Tabular view</a></li>
					  </ul>
					  <div class="tab-content" class="col-md-12">
					    <div id="pane1" class="tab-pane active">
					    	<div class="col-md-9">
								<div id="chart-1" style="width:100%; min-width:400px; height:100%; min-height: 475px;"></div>
							</div>
							<div class="col-md-3">
								<div id="legend"></div>
							</div>
					    </div>
					    <div id="pane2" class="tab-pane">
					    	<div class="col-md-12">
						    	<div class="table-scrollable">
									<table class="table table-striped table-hover">
									<thead>
									<tr>
										<th>Speed</th>
										<th>RPM</th>									
										<th>Gear</th>
										<th>Throttle</th>									
										<th>MAP</th>
										<th>MAT</th>	
										<th>O2</th>
										<th>Battery</th>		
										<th>Coolant T</th>							
									</tr>
									</thead>
									<tbody>								
									<tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
										<td>{[{(chartableDatasetArray[9].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[8].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[4].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[10].data | reverse)[i][1]}]}</td>		
										<td>{[{(chartableDatasetArray[5].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[6].data | reverse)[i][1]}]}</td>	
										<td>{[{(chartableDatasetArray[7].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[0].data | reverse)[i][1]}]}</td>		
										<td>{[{(chartableDatasetArray[2].data | reverse)[i][1]}]}</td>	
									</tr>
									</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-6">
						    	<div class="table-scrollable">
									<table class="table table-striped table-hover">
									<thead>
									<tr>
										<th>Wheel Temperature 1</th>
										<th>Wheel Temperature 2</th>									
										<th>Wheel Temperature 3</th>
										<th>Wheel Temperature 4</th>						
									</tr>
									</thead>
									<tbody>								
									<tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
										<td>{[{(chartableDatasetArray[11].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[12].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[13].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[14].data | reverse)[i][1]}]}</td>		
									</tr>
									</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-6">
						    	<div class="table-scrollable" class="col-md-6">
									<table class="table table-striped table-hover">
									<thead>
									<tr>
										<th>Wheel Velocity 1</th>
										<th>Wheel Velocity 2</th>									
										<th>Wheel Velocity 3</th>
										<th>Wheel Velocity 4</th>						
									</tr>
									</thead>
									<tbody>								
									<tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
										<td>{[{(chartableDatasetArray[15].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[16].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[17].data | reverse)[i][1]}]}</td>
										<td>{[{(chartableDatasetArray[18].data | reverse)[i][1]}]}</td>		
									</tr>
									</tbody>
									</table>
								</div>
							</div>
					    </div>
					  </div><!-- /.tab-content -->
					</div><!-- /.tabbable -->
				</div>

				<!-- END TABS -->
				<!-- END DASHBOARD STATS -->

			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->