<!-- BEGIN CONTAINER -->
<div class="page-container">
{% include 'partials/sidebar.html' %}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" style="margin-top:40px;">
	<div class="page-content" data-ng-controller="dashboardController">
		<div class="row">
			<div class="col-md-12">
				<!-- BEGIN PAGE HEADER-->
				<h3 class="page-title">
				Dashboard <small>live data feed</small>
				</h3>
			</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN DASHBOARD STATS -->
				<div dashboard-stat colour="red-intense" icon="fa-dashboard" description="Speed" value="120"></div>
				<div dashboard-stat colour="purple-plum" icon="fa-gear" description="Gear" value="55"></div>
				<div dashboard-stat colour="green-haze" icon="fa-signal" description="Battery" value="55"></div>
				<div dashboard-stat colour="blue-madison" icon="fa-road" description="Brake" value="55"></div>
				<!-- BEGIN CHARTS -->
				<div class="col-md-9">
					<div id="chart-1" style="width:100%; min-width:400px; height:100%; min-height: 400px;"></div>
				</div>
				<div class="col-md-3">
					<ul>
						<li ng-repeat="item in chartableDatasetArray">{[{item.label}]}</li>
					</ul>
				</div>
				<!--
				<div class="col-md-6">
					<div class="portlet box blue-madison">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-paper-plane"></i>Live data
							</div>
						</div>
						<div class="portlet-body">
							<div id="chart-2" style="width:100%; min-width:400px; height:100%; min-height: 400px;"></div>
						</div>
					</div>
				</div>
				-->
				<!-- END CHARTS -->
				<!-- BEGIN TEMP STATS -->
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Coolant_T" value="47.8"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Fuel" value="0.8"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="MAP" value="68.8"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="MAT" value="14.1"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="O2" value="4.59"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="RPM" value="2617.0"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Throttle" value="9.0"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Wheel_T_1" value="63.526"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Wheel_T_2" value="62.679"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Wheel_T_3" value="61.829"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Wheel_T_4" value="63.043"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Wheel_v_1" value="49.385"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Wheel_v_1" value="47.06"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Wheel_v_1" value="47.249"></div>
				<div dashboard-stat colour="blue-chambray" icon="fa-car" description="Wheel_v_1" value="48.49"></div>
				<!-- END TEMP STATS -->
				<!-- END DASHBOARD STATS -->
				
				
			</div>
		</div>
	</div>
</div>
<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->