<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<ul class="page-sidebar-menu page-sidebar-menu-closed" data-auto-scroll="false" data-slide-speed="200">
			<li class="sidebar-toggler-wrapper" style="margin-top:50px;margin-bottom:10px;">
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler"></div>
				<!-- END SIDEBAR TOGGLER BUTTON -->
			</li>
			<li class="start active open">
				<a href="javascript:;">
				<i class="icon-rocket"></i>
				<span class="title">Dashboard</span>
				<span class="selected"></span>				
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU --> 
	</div>
</div>
<!-- END SIDEBAR -->